<a href="https://colab.research.google.com/github/robbytbg/classWork/blob/main/BDA_Prac1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
read.csv('/content/Prac1.csv')

In [ ]:
library(tidyverse)
read_csv('/content/Prac1.csv')

In [ ]:
library(data.table)
fread('/content/Prac1.csv')

In [ ]:
print('read.csv:')
system.time(read.csv('/content/Prac1.csv'))
print('read_csv:')
system.time(read_csv('/content/Prac1.csv',show_col_types = FALSE))
print('fread():')
system.time(fread('/content/Prac1.csv'))

[1] "read.csv:"

   user  system elapsed
  0.007   0.000   0.007

[1] "read_csv:"

   user  system elapsed
  0.006   0.001   0.008

[1] "fread():"

   user  system elapsed
  0.001   0.000   0.001

We can see that the read.csv() function takes the longest time to read in the data, followed by read_csv(). The fread() function takes the shortest time to read in the data.

There are pros and cons for each of the functions depending on your needs. For speed, the fread() function is quickest to get data read into your session. Analysts that work within the tidyverse suite of packages will find the read_csv() function advantageous because it imports and stores tables as tibbles. I’ve rarely had an issue with the read.csv() function, and it’s considered the standard function for getting data into R.

Depending on your needs and the size of the data you’re working with, consider implementing these functions for reading in data into R in the future.

In [ ]:
print('read.csv:')
object.size(read.csv('/content/Prac1.csv'))

[1] "read.csv:"

132320 bytes

In [ ]:
if (!require(bigmemory)) install.packages("bigmemory")

Loading required package: bigmemory

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
“there is no package called ‘bigmemory’”
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘bigmemory.sri’, ‘Rcpp’, ‘BH’

In [ ]:
library(bigmemory)

In [ ]:
data <- read.big.matrix("/content/Prac1b.csv")
head(data)

Warning message in na.omit(as.integer(firstLineVals)):
“NAs introduced by coercion”
Warning message in na.omit(as.double(firstLineVals)):
“NAs introduced by coercion”
Warning message in read.big.matrix("/content/Prac1b.csv"):
“Because type was not specified, we chose double based on the first line of data.”

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]  [,10] [,11] [,12] [,13]
[1,] NA     NA   NA NA   NA    NA   NA  NA      NA   NA   NA    NA     NA
[2,]  1   2021 2021 NA    1    74  168   1    1.20  6.0  0.5   0.5   0.00
[3,]  2   2021 2021 NA    1   116  265   2   13.69 42.0  0.5   0.5   0.00
[4,]  2   2021 2021 NA    1    97   33   1    0.95  6.5  0.5   0.5   2.34
[5,]  2   2021 2021 NA    1    74   42   1    1.24  6.5  0.5   0.5   0.00
[6,]  2   2021 2021 NA    1    42  244   1    1.10  7.0  0.5   0.5   0.00
     [,14] [,15] [,16] [,17] [,18] [,19] [,20]
[1,] NA    NA     NA      NA NA    NA    NA
[2,]  0    NA    0.3    7.30  2     1     0
[3,]  0    NA    0.3   43.30  2     1     0
[4,]  0    NA    0.3   10.14  1     1     0
[5,]  0    NA    0.3    7.80  2     1     0
[6,]  0    NA    0.3    8.30  2     1     0

In [ ]:
read_numeric_big_matrix <- function(file_path) {
  # Identify numeric columns by checking the first line
  header_row <- read.csv(file_path, header = TRUE, nrows = 1)
  numeric_columns <- which(sapply(header_row, is.numeric))

  # Read the data and select only numeric columns
  data <- read.big.matrix(file_path)
  data <- data[, numeric_columns]

  return(data)
}
file_path <- "/content/Prac1b.csv"
data <- read_numeric_big_matrix(file_path)
head(data)

Warning message in na.omit(as.integer(firstLineVals)):
“NAs introduced by coercion”
Warning message in na.omit(as.double(firstLineVals)):
“NAs introduced by coercion”
Warning message in read.big.matrix(file_path):
“Because type was not specified, we chose double based on the first line of data.”

     [,1] [,2] [,3] [,4] [,5] [,6]  [,7] [,8] [,9] [,10] [,11] [,12] [,13]
[1,] NA   NA    NA   NA  NA      NA   NA  NA   NA    NA  NA     NA      NA
[2,]  1    1    74  168   1    1.20  6.0 0.5  0.5  0.00   0    0.3    7.30
[3,]  2    1   116  265   2   13.69 42.0 0.5  0.5  0.00   0    0.3   43.30
[4,]  2    1    97   33   1    0.95  6.5 0.5  0.5  2.34   0    0.3   10.14
[5,]  2    1    74   42   1    1.24  6.5 0.5  0.5  0.00   0    0.3    7.80
[6,]  2    1    42  244   1    1.10  7.0 0.5  0.5  0.00   0    0.3    8.30
     [,14] [,15] [,16]
[1,] NA    NA    NA
[2,]  2     1     0
[3,]  2     1     0
[4,]  1     1     0
[5,]  2     1     0
[6,]  2     1     0

In [ ]:
system.time(read.big.matrix("/content/Prac1b.csv"))

Warning message in na.omit(as.integer(firstLineVals)):
“NAs introduced by coercion”
Warning message in na.omit(as.double(firstLineVals)):
“NAs introduced by coercion”
Warning message in read.big.matrix("/content/Prac1b.csv"):
“Because type was not specified, we chose double based on the first line of data.”

   user  system elapsed
  0.444   0.012   0.456

In [ ]:
nrow(data)

[1] 83692

In [ ]:
ncol(data)

[1] 16

In [ ]:
data <- na.omit(data)

In [ ]:
# Calculate mean by index
mean_value <- mean(data[, 3])
median_value <- median(data[, 3])
print(mean_value)
# Calculate median by index
print(median_value)

[1] 98.78653
[1] 75

In [ ]:
# Install and load the biglm package if not already installed
install.packages("biglm")
library(biglm)

# Generate some example data

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Loading required package: DBI

ERROR: ignored

In [ ]:

x1<-data[,3]
x2<-data[,4]
# Create the response variable y using x1 and x2
data$y <- x1 + x2

# Fit a linear model using biglm
model <- biglm(y ~ x1 + x2, data = data)

# Print summary of the model
summary(model)

Warning message in data$y <- x1 + x2:
“Coercing LHS to a list”

Large data regression model: biglm(y ~ x1 + x2, data = data)
Sample size =  83691
            Coef (95% CI) SE p
(Intercept)    0    0   0  0 0
x1             1    1   1  0 0
x2             1    1   1  0 0